<div class="text-center">
	<h1>DO U EVEN LIFT?</h1>
</div>
<div class="text-center">
	<h2>Meet fitness goals together!</h2>
</div>

	<!-- Image -->

<div class="text-center">
	<%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
</div>