<div class="jumbotron">

	<h1>U Mirin...?</h1>
	<h4>Meet Fitness Goals Together!</h4>

</div>
	
	<div class="row">
		<div class="col-md-3">
			<div class="well">
				<h3>
					Sign Up Here!
				</h3>
				<label>
					Name
				</label>
				<input type="text" class="form-control" placeholder="Name">
				<label>
					Email
				</label>
				<input type="text" class="form-control" placeholder="Email">
				<label>
					Password
				</label>
				<input type="password" class="form-control" placeholder="Password">
				<label>
					Confirm Password
				</label>
				<input type="password" class="form-control" placeholder="Confirm Password">
				<br>
				<button class="btn btn-primary form-control">Submit</button>
			</div>
		</div>

		<div class="col-md-9">
			<div class="homepage-image">
				<img src="http://thesolanaclub.com/wp-content/uploads/2013/07/Group-Exercise.jpg">
			</div>
		</div>
	</div>