<div class="text-center">
	<h1>Mirin?</h1>
</div>
<div class="text-center">
	<h2>Meet fitness goals together!</h2>
</div>

	<!-- Image --><!-- 
	<!-- <%#= image_tag, "/assets/images/" %> -->

<div class="text-center">
	<%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
	<%= link_to "Log In", login_path, class: "btn btn-primary" %>
</div>