body {
	background-color: peachpuff;
	padding-top: 75px;
}
.form-control {
	width: 200px;
}

.navbar-default {
	height: 50px;
}

.homepage-image {
	border-radius: 10px;
	text-align: center;
	width: 50%;
	height: 50%;
}


div.container-fluid {
	padding-bottom: 15px;
	width: 75%;
	height: 100%;
	background-color: white;
}

.col-md-8 {
	padding-left: 100px;
}

footer {
	width: 100%;
	bottom: 0;
	height: 20px;
	left: 0;
}